# Green taxi pipeline

In [1]:
from pathlib import Path
import pandas as pd
from sqlalchemy import create_engine

In [3]:
green_data = Path("../data/taxi_ingest_data/green_tripdata_2019-01.csv.gz")
green_data.exists()

True

In [4]:
df = pd.read_csv(green_data, nrows=100)
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [12]:
df_iter = pd.read_csv(green_data, iterator=True, chunksize=100000)
df = next(df_iter)
len(df)

100000

In [13]:
df.lpep_dropoff_datetime = pd.to_datetime(arg=df.lpep_dropoff_datetime)
df.lpep_pickup_datetime = pd.to_datetime(arg=df.lpep_pickup_datetime)

Schema should now specify our datetime columns as `TIMESTAMP`

In [14]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [15]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [16]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 5.2 s, sys: 74.6 ms, total: 5.28 s
Wall time: 9.62 s

1000

In [9]:
from time import time

In [17]:
while df_iter:
    t_start = time()
    df = next(df_iter)
    # convert to datetime
    df.lpep_dropoff_datetime = pd.to_datetime(arg=df.lpep_dropoff_datetime)
    df.lpep_pickup_datetime = pd.to_datetime(arg=df.lpep_pickup_datetime)
    # push
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print(f'chunk inserted; time taken: {t_end - t_start:.3f}')

chunk inserted; time taken: 10.036
chunk inserted; time taken: 10.209
chunk inserted; time taken: 9.936
chunk inserted; time taken: 9.855
chunk inserted; time taken: 9.860
chunk inserted; time taken: 3.043

StopIteration:

In [19]:
zones_csv = Path("../data/taxi_ingest_data/taxi_zone_lookup.csv")
df_zones = pd.read_csv(zones_csv)
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [20]:
print(pd.io.sql.get_schema(df_zones, name='zones', con=engine))

CREATE TABLE zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [21]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [27]:
"Astoria" in df_zones.Zone.values

True